@import '@styles/box.scss';

div.calendar-component-wrapper {
  overflow: hidden scroll;
  height: calc(100vh - 100px);
  min-width: 300px;
  width: 100%;

  table {
    border-collapse: collapse;
    table-layout: fixed;
    tr {
      height: 20px;
      &:nth-child(4n-3) > td:first-child {
        color: #ddd;
        font-size: 13px;
        width: fit-content;
      }
      td {
        height: 10px;
        width: 100%;
        position: relative;
        vertical-align: top;
        &.plan {
          border: 1px solid rgba(0,0,0,0);
          background-color: #f08080;
          &:hover { background-color: #f08080dd; }
        }
      }
    }
  }
}