@import '@styles/box.scss';

div.schedule-wrapper {
  box-shadow: $container-shadow;
  background-color: #fff;

  button.add-event-btn {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: $container-shadow;
    &:hover {
      box-shadow: $hover-shadow;
    }
  }
}
